@font-face{
	font-family:"algereya"; 
	src:url('fonts/algereya/AlegreyaSans-Regular.ttf');
}

@font-face{
	font-family:'cairo'; 
	src:url('fonts/cairo/Cairo-Regular.ttf');
}
@font-face{
	font-family:'comic'; 
	src:url('fonts/comic/ComicNeue-Light.ttf');
}

@font-face{
	font-family:'inria'; 
	src:url('fonts/inria/InriaSans-Regular.ttf');
}

@font-face{
	font-family:'open_sans'; 
	src:url('fonts/open_sans/OpenSans-Regular.ttf');
}


